.jumbotron {
  padding-top: 6rem;
  background-color: #3bc0e8;
}

.btn {
  background: #000;
}

#about {
  padding-top: 6rem;
}

#project {
  background-color: #3bc0e8;
  padding-top: 6rem;
}

#contact {
  padding-top: 6rem;
}
